.header-container {
    position: sticky;
    top: 0;
    z-index: 100;



    .header {
        align-items: center;
        width: 100%;
        padding-top: 20px;
        height: 100px;
        // position: absolute;
        top: 0;
        background-color: $clr-bg;
        border-bottom: 1px solid $clr-border;

        &::after {
            height: 100px;
            right: 0;
            left: 0;
            z-index: -1;
            // transition: transform 250ms ease;
            // transform: initial;
        }

        .header-elichay {
            justify-content: flex-start;
            align-items: center;

        }

        .header-img {
            border-radius: 50%;
            width: 60px;
        }

        .header-title {
            padding-left: 1rem;


            .header-name {

                color: $clr-text-primary;
            }

            .header-job {
                font-size: 0.8rem;
                color: $clr-text-secondary;
            }
        }



        .contact-me {
            @include for-mobile-layout {
                display: none;
            }
        }
        
        .contact-me2 {
            margin-right: 4px;
            @include for-narrow-layout{
                display: none;
              }
        }
    }

}